* {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
}

.calculator__display {
    width: 300px;
    font-size: 40px;
    font-weight: bold;
}

.calculator__buttons {
    display: flex;
    width: 300px;
}

.calculator__digits {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.calculator__row1,
.calculator__row2 {
    display: flex;
    flex: 1;
}

.calculator__operators {
    display: flex;
    flex-direction: column;
}

.digits {
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;
}